.reg-block{
    position: relative;
    margin-top: 10%;
}
.reg-form{
    border: 3px solid MediumVioletRed;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}
.content-main > div{
  margin: 10px auto;
}
.jumbotron > h1{
    font-family: 'Philosopher', sans-serif;
    color: blue;
    text-shadow: 3px 3px 3px yellow;
}
.content-main > div > div{
  position: relative;
  animation: arrowd 4s linear infinite;
}
#chnutab > tr:first-child {
  text-align: right;
}
.loaderArea {
  background: #fff;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
.dot{   /*main drop*/
    color: #000000;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 0   50% 50% 50%;
    background-color: currentColor;
    animation: rain-drop .4s ease-in infinite;
}
.left-dot{
    position: absolute;
    left: 10px;
    top: 110px;
    color: #000000;
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    border-radius: 0   50% 50% 50%;
    background-color: currentColor;
    animation: left-rain-drop .4s ease-out infinite;
}
.right-dot{
    position: absolute;
    left: 10px;
    top: 110px;
    color: #000000;
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
    border-radius: 0   50% 50% 50%;
    background-color: currentColor;
    animation: right-rain-drop .4s ease-out infinite;
}
@keyframes rain-drop {
    0%{

    }
    67%{
        transform: translateY(100px) rotate(45deg);
        opacity: 1;
    }
    67.1%{
        opacity: 0;
    }
    100%{
        transform: translateY(100px) rotate(45deg);
        opacity: 0;
    }
}
@keyframes left-rain-drop {
    0%{
        opacity: 0;
        transform:  translateX(0px) translateY(0px) rotate(180deg) rotate(180deg);
    }
    67%{
        transform:  translateX(0px) translateY(0px) rotate(180deg) rotate(180deg);
        opacity: 0;

    }
    67.1%{
        transform:  translateX(0px) translateY(0px) rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: translateX(-40px) translateY(-40px) rotate(180deg);
    }
}
@keyframes right-rain-drop {
    0%{
        opacity: 0;
        transform:  translateX(0px) translateY(0px) rotate(180deg) rotate(-90deg);
    }
    67%{
        transform:  translateX(0px) translateY(0px) rotate(180deg) rotate(-90deg);
        opacity: 0;

    }
    67.1%{
        transform:  translateX(0px) translateY(0px) rotate(-90deg);
        opacity: 1;
    }
    100%{
        transform: translateX(40px) translateY(-40px) rotate(-90deg);
    }
}
h1{
    position: relative;
    font-family: 'Limelight', cursive;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    animation: text 2s ease-out infinite;
}
@keyframes arrowd{
  0%{
    left: 0;
  }
  25%{
    left: 60px;
  }
  75%{
    left: -60px;
  }
  100%{
    left: 0;
  }
}
@keyframes text{
    0%{
    letter-spacing: 0;
  }
    30%{
    letter-spacing: 3px;
  }
    60%{
    letter-spacing: 3px;
  }
    90%{
    letter-spacing: 0;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.Add-reg{
    display: none;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .sign-up, .topnav .log-in{
    float: right;
}
.log-in-text{
    font-family: 'Black Ops One';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.active {
  background-color: blue;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover{
  background-color: #555;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.panel-heading {
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 5px;
    color: #333;
    background-color: #EEEEEE;
    cursor: pointer;
}
.panel-body{
    margin: 10px;
    background-color: #EAFCF8;
    padding: 10px;
    border-radius: 15px;
}
.search-block > div{
    margin-top: 10px;
    max-width: auto;
}
.search-content > div{
    background-color: #F2F2F2;
    margin-top: 15px;
    padding: 10px;
}
.search-content > div:hover {
    margin-left: 5px;
    border-left: solid 10px #1EA8EE;
    transition: .3s;
}
.content-choose{
    margin-top: 20px;
}
.content-choose > div{
    margin-top: 20px;
    padding: 20px;
}
.quest1 > div > div{
    background-color: snow;
    margin: 3px;
}