.wrapper {
    width: 100%;
    text-align: center;
}

#content {
    /*width: 400px;
    height: 300px;*/
    display: inline-block;
    margin: 0 auto;
    padding: 50px;
}

.puzzle {
    //box-shadow: 0 0 0 3px rgba( 0, 0, 0, 0.5);
    box-shadow: 0 0 0 3px black;
    background: rgba( 0, 0, 0, 0.7);
}

img {
    width: 100%;
    height: 100%;
}

.right {
    width: 100%;
    text-align: right;
}

.help_div {
    width: 140px;
    height: 55px;
    background: #297C37;
    color: white;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
    margin-left: calc(35% - 70px);
    cursor: pointer;
    transition: .3s;
}
.help_div:hover{
    background: #349744;
}
.takeit {
    margin-right: 50px;
    display: inline-block;
    height: 25%;
    width: 25%;
    min-width: 300px;
    min-height: 300px;
}

.hidden {
    display: none;
}