.wrapper {
    text-align: center;
    margin-top: 20px;
}

select {
    font-size: 105%;
}

.cell {
    height: 30px;
    width: 30px;
    background: yellowgreen;
    border: 1px solid black;
}

#field {
    margin-top: 25px;
    display: inline-block;
    border: 1px solid black;
}

#apply {
    margin: 50px auto 0;
    background: green;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

#JSON {
    width: 450px;
    /*white-space: pre;*/
    margin: 50px auto 0;
}